* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__title {
  display: flex;
  justify-content: space-between;
}
.header-h1 {
  font-size: 16px;
}
.header-p {
  width: 445px;
  height: 112px;
}
