@font-face {
    font-family: "Livvic-Bold";
    src: url("../../assets/fonts/Livvic/Livvic-Bold.ttf");
}
@font-face {
    font-family: "Livvic-SemiBold";
    src: url("../../assets/fonts/Livvic/Livvic-SemiBold.ttf");
}
@font-face {
    font-family: "Livvic-MediumItalic";
    src: url("../../assets/fonts/Livvic/Livvic-MediumItalic.ttf");
}